.gradient-background {
  background: linear-gradient(300deg, #e63bf6, #f53552, #f5ba3c);
  background-size: 180% 180%;
  animation: gradient-animation 2s ease infinite;
}
.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 900;
  font-style: italic;
  font-size: 150px;
  color: white;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.light-theme {
  background-color: white; /* or any light background */
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-around;
  color: white;
}
.navbar li :hover {
  background-color: rgb(244, 195, 226);
  border-radius: 7px 7px 7px 7px;
}
.back-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 615px;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

h1 {
  color: white;
}
.heroes > div > div > p {
  color: white;
  letter-spacing: 0.3rem;
}
h2 {
  display: flex;
  justify-content: center;
  color: mediumvioletred;
  opacity: 0.65;
}
.whoami1 > .row {
  padding-left: 150px;
  padding-right: 75px;
  margin-top: 20px;
}
.whoami1 {
  background-size: cover;
  background-color: #fff6a1a8;
}
h3 {
  color: mediumvioletred;
  opacity: 0.65;
  font-size: xxx-large;
}
.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.d-flex {
  display: flex !important;
}
.heading3 {
}
